<main class="searchMain">
  <section class="wrapper searchSection">
  <form method="post" action="/search/byTitle">
    <input type="text" name="searchInput" placeholder="Search by title!">
    <button type="submit" name="searchButton">search</button>
  </form>
  </section>
  {{#if Found}}
    {{#each moviesInfo}}
      <section class="wrapper">
        <div class="movie_card" id="card">
          <div class="info_section">
            <div class="movie_header">
              <img class="locandina" src="{{this.Poster}}"/>
              <h1><a href="/watcha/{{this.imdbID}}">{{this.Title}}</a></h1>
              <h4>{{this.Director}}</h4>
              <span class="minutes">{{this.Year}}</span>
              <p class="type">{{this.Genre}}</p>
            </div>
            <div class="movie_desc">
              <p class="text">
                {{this.Plot}} 
              </p>
            </div>
            <div class="movie_social">
              <ul>
                  <li><button class="watchedButton transition" value="{{this.imdbID}}">WATCHED</button></li>
                  <li><button class="wantButton transition" value="{{this.imdbID}}">WANT</button></li>
              </ul>
            </div>
          </div>
          <div class="blur_back bright_back">
            <img class="card-image" src="{{this.Poster}}"/>
          </div>
        </div>
      </section>
    {{/each}}
  {{/if}}
</main>