<main class="top25Main">
  <section class="wrapper top25">
    <div class="centerText">
      <h1>Top 30 New Watchas</h1>
      <h2>Learn about new and trending watchas right here</h2>
    </div>
    {{#each imagesArr}}
      <div class="movieCard" id="card">
        <div class="infoSection">
          <div class="movieHeader">
            <img class="poster" src="{{this.Poster}}"/>
            <h1><a href="/watcha/{{this.imdbID}}">{{this.Title}}</a></h1>
            <h4>{{this.Director}}</h4>
            <span class="year">{{this.Year}}</span>
            <p class="type">{{this.Genre}}</p>
          </div>
          <div class="movieDescription">
            <p class="text">
              {{this.Plot}} 
            </p>
          </div>
          <div class="movie_social">
            {{#if username}}
            <ul>
                <li><button class="watchedButton transition" value="{{this.imdbID}}">WATCHED</button></li>
                <li><button class="wantButton transition" value="{{this.imdbID}}">WANT</button></li>
            </ul>
            {{/if}}
          </div>
        </div>
        <div class="blurBack">
          <img class="cardImage" src="{{this.Poster}}"/>
        </div>
      </div>
    {{/each}}
  </section>
</main>