<main class="searchMain">
    <h3>Welcome to our search section</h3>
    <p class="searchDescription">You can search any watcha (even series) right here</p>
  <section class="wrapper searchSection">
    <form method="post" action="/search/byTitle" class="searchForm">
      <input type="search" class="searchTerm" name="searchInput" required>
      <button type="submit">
        <i class="fa fa-search"></i>
      </button>
      <a href="javascript:void(0)" id="clearButton">Clear</a>
    </form>
  </section>
  {{#if Found}}
    <section class="wrapper">
    {{#each moviesInfo}}
        <div class="movieCard" id="card">
          <div class="infoSection">
            <div class="movieHeader">
              <img class="poster" src="{{this.Poster}}"/>
              <h1><a href="/watcha/{{this.imdbID}}">{{this.Title}}</a></h1>
              <h4>{{this.Director}}</h4>
              <span class="minutes">{{this.Year}}</span>
              <p class="type">{{this.Genre}}</p>
            </div>
            <div class="movieDescription">
              <p class="text">
                {{this.Plot}} 
              </p>
            </div>
            <div class="movie_social">
              <ul>
                  <li><button class="watchedButton transition" value="{{this.imdbID}}">WATCHED</button></li>
                  <li><button class="wantButton transition" value="{{this.imdbID}}">WANT</button></li>
              </ul>
            </div>
          </div>
          <div class="blurBack">
            <img class="cardImage" src="{{this.Poster}}"/>
          </div>
        </div>
    {{/each}}
    </section>
  {{/if}}
</main>